<app-header></app-header>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Reporte: Inventario Valorizado</h2>
        <button class="btn btn-outline-secondary" (click)="loadData()" [disabled]="isLoading">
            <i class="bi bi-arrow-clockwise"></i> Recargar
        </button>
    </div>
    <hr>
    <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="reportData && !isLoading" class="row">
        <div class="col-md-6">
            <div class="card text-center text-bg-info mb-3">
                <div class="card-header">Valor Total a Costo</div>
                <div class="card-body">
                    <p class="card-text fs-2 fw-bold">
                        {{ reportData.valorTotalInventarioACosto | currency:'USD' }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center text-bg-success mb-3">
                <div class="card-header">Valor Potencial de Venta</div>
                <div class="card-body">
                    <p class="card-text fs-2 fw-bold">
                        {{ reportData.valorPotencialVenta | currency:'USD' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>