.header {
    background-color: #2d3748;
    color: #ffffff;
    padding: 0.4rem;
    position: relative;
    font-family: 'Segoe UI', sans-serif;

    &__container {
        max-width: 1350px;
        margin: 0 auto;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    &__logo h1 {
        color: #ffffff;
        margin-left: 1rm;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: bold;
    }
    .menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    }
}
