<app-header></app-header>

<div>
    <h2>Clientes</h2>

    <div class="buscador-container">
        <input type="text" placeholder="Buscar por nombre, apellido o identificación" [(ngModel)]="filtro"
            class="buscador" />
        <button *ngIf="filtro" class="clear-button" (click)="filtro = ''">✖</button>
    </div>

    <table class="tabla-productos">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>TIPO IDENTIFICACIÓN</th>
                <th>IDENTIFICACIÓN</th>
                <th>CORREO</th>
                <th>TELÉFONO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cli of clientesPaginados">
                <td>{{ cli.nombre }}</td>
                <td>{{ cli.apellido }}</td>
                <td>{{ cli.tipo_id.descripcion }}</td>
                <td>{{ cli.numero_identificacion }}</td>
                <td>{{ cli.email }}</td>
                <td>{{ cli.movil }}</td>
                <td class="action">
                    <button (click)="editarCliente(cli, form)">✏️</button>
                    <button (click)="eliminarCliente(cli.idperson)">🗑️</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="paginacion">
        <button (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">Anterior</button>
        <button *ngFor="let pagina of [].constructor(totalPaginas); let i = index" (click)="cambiarPagina(i + 1)"
            [class.activa]="paginaActual === i + 1">
            {{ i + 1 }}
        </button>
        <button (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas">Siguiente</button>
    </div>

    <h2>{{ clienteEditandoId ? 'Editar Cliente' : 'Crear Cliente' }}</h2>

    <form (ngSubmit)="crearCliente(form)" #form="ngForm">
        <label for="nombre">Nombre</label>
        <input type="text" [(ngModel)]="nuevoCliente.nombre" name="nombre" required />

        <label for="apellido">Apellido</label>
        <input type="text" [(ngModel)]="nuevoCliente.apellido" name="apellido" required />

        <label for="tipo_id">Tipo de Identificación</label>
        <select [(ngModel)]="nuevoCliente.tipo_id" name="tipo_id" required>
            <option *ngFor="let tipo of tipoIdentificacion" [value]="tipo.idtipo_identificacion">
                {{ tipo.descripcion }}
            </option>
        </select>

        <label for="numero_identificacion">Número de Identificación</label>
        <input type="text" [(ngModel)]="nuevoCliente.numero_identificacion" name="numero_identificacion" required />

        <label for="email">Correo</label>
        <input type="email" [(ngModel)]="nuevoCliente.email" name="email" />

        <label for="movil">Teléfono / Móvil</label>
        <input type="text" [(ngModel)]="nuevoCliente.movil" name="movil" />

        <!-- tipo_personaid se envía fijo como cliente -->
        <button type="submit">{{ clienteEditandoId ? 'Actualizar' : 'Guardar' }}</button>
        <button type="button" class="cancelar" *ngIf="clienteEditandoId"
            (click)="cancelarEdicion(form)">Cancelar</button>
    </form>
</div>