<app-header></app-header>

<div class="facturas-container">
    <h2>Listado de Facturas</h2>

    <input type="text" [(ngModel)]="filtro" placeholder="Buscar por ID, cliente o identificación...">

    <table>
        <thead>
            <tr>
                <th>Factura No.</th>
                <th>Fecha y Hora</th>
                <th>Identificación</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of ventasPaginadas">
                <td>FAC-FE#{{ venta.idsale }}</td>
                <td>{{ venta.fecha_hora | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ venta.cliente.numero_identificacion }}</td>
                <td>{{ venta.cliente.nombre }} {{ venta.cliente.apellido }}</td>
                <td>{{ venta.total | currency:'COP':'symbol':'1.2-2' }}</td>
                <td class="acciones">
                    <button class="btn-ver" (click)="ver(venta.idsale)"> 👁️ </button>
                    <button *ngIf="isAdmin" class="btn-eliminar" (click)="eliminar(venta.idsale)"> 🗑️ </button>
                </td>
            </tr>
            <tr *ngIf="ventasFiltradas.length === 0">
                <td colspan="6">No se encontraron ventas.</td>
            </tr>
        </tbody>
    </table>

    <div class="paginacion" *ngIf="totalPaginas > 1">
        <button (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">« Anterior</button>

        <button *ngFor="let pagina of [].constructor(totalPaginas); let i = index" (click)="cambiarPagina(i + 1)"
            [class.activo]="paginaActual === i + 1">
            {{ i + 1 }}
        </button>

        <button (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas">Siguiente
            »</button>
    </div>


</div>



<div class="modal-overlay" *ngIf="ventaSeleccionada">
    <div class="modal-content">
        <button class="modal-close-button" (click)="cerrarModal()">×</button>

        <h3>Detalle de la Factura FAC-FE#{{ ventaSeleccionada.idsale }}</h3>

        <div class="detalle-grid">
            <div><strong>Fecha:</strong> {{ ventaSeleccionada.fecha_hora | date:'dd/MM/yyyy HH:mm:ss' }}</div>
            <div><strong>Método de Pago:</strong> {{ ventaSeleccionada.metodo_pago.description }}</div>
            <div><strong>Identificacion:</strong> {{ ventaSeleccionada.cliente.tipo_id.descripcion }} - {{ ventaSeleccionada.cliente.numero_identificacion }} </div>
            <div><strong>Cliente:</strong> {{ ventaSeleccionada.cliente.nombre }} {{ ventaSeleccionada.cliente.apellido }}</div>
            <div><strong>Vendido por:</strong> {{ ventaSeleccionada.empleado.nombre }}  {{ ventaSeleccionada.empleado.apellido }}</div>
        </div>

        <h4>Productos</h4>
        <table class="tabla-detalles">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of ventaSeleccionada.detalles">
                    <td>{{ detalle.producto.nombre }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.precio_unitario | currency:'USD' }}</td>
                    <td>{{ (detalle.cantidad * detalle.precio_unitario) | currency:'USD' }}</td>
                </tr>
            </tbody>
        </table>

        <div class="total-final">
            <strong>Total Factura: {{ ventaSeleccionada.total | currency:'USD':'symbol':'1.2-2' }}</strong>
        </div>

    </div>
</div>